@page "/basicevents"
@rendermode InteractiveServer

<PageTitle> Basic Button Events</PageTitle>

<h3>BasicButtonEvent</h3>

<label for="dataitem">
	<input type="text" @bind="inputValue" placeholder="Enter String" />
</label>
<br />
<br />

@if (!string.IsNullOrWhiteSpace(feedback))
{
	<p>@feedback</p>
}
else
{
	<p> There is no feedback till now</p>
}

<button type="submit" class="btn btn-primary" @onclick="OnFirstButtonClick"> CLICK BUTTON to check even or odd</button>
<br/> <br/>

<button type="submit" class="btn btn-S" @onclick="DataInput"> CLICK BUTTON to see Data Input</button>

@code {

	private string feedback;
	private Random rnd = new();
	private string inputValue;

	protected override void OnInitialized()
	{
		feedback = " On Initialized ";
		base.OnInitialized();
	}

	void OnFirstButtonClick()
	{
		int oddeven = rnd.Next(1, 100);

		if (oddeven % 2 == 0)
		{
			feedback = $"The value {oddeven} is EVEN";
		}
		else
		{
			feedback = $"The value {oddeven} is ODD";
		}
	}

	void DataInput()
	{
		feedback = $" You entered >{inputValue}< ";
	}
}
