@page "/displaydate"
@rendermode InteractiveServer
<PageTitle> Display Date and Time </PageTitle>
<h3>DateTime</h3>

<b> @_displaydate</b>

@code {
	private string _displaydate;

	protected override void OnInitialized()
	{
		_displaydate = DateTime.Now.ToString();
		base.OnInitialized();
	}

}
