@page "/basicevents"
<PageTitle> Basic Events </PageTitle>

<h3>BasicButtonsEvents</h3>

<p> @feedback </p>

@if (!string.IsNullOrWhiteSpace(feedback))
{
	<p> @feedback </p>
}
else
{
	<p> This page has no feedback</p>
}

<button type="submit" class="btn btn-primary" @onclick="OnFirstButtonClick" value="datavalueforbutton">
</button>



@code {

	private string feedback;
	private Random rnd = new();

	protected override void OnInitialized()
	{
		feedback = "On Initialize";
		base.OnInitialized();
	}

	void OnFirstButtonClick()
	{
		int oddeven = rnd.Next(1, 100);

		if (oddeven % 2 == 0)
		{
			feedback = $"the value {oddeven} is EVEN";
		}
		else
		{
			feedback = $"the value {oddeven} is ODD";
		}
	}
}
